body{
	background-color: #A5260A;
	display: flex;
	flex-direction:column;
}
a{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	color: red;
	text-decoration: none;
	border-radius: 10%;	
	
}

h1{
	font-family:serif;
}



